<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" 
"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders console에 출력 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m:%d{yyyy MMM dd HH:mm:ss, SSS}%n" />
		</layout>
	</appender>
	
	<!-- Appenders 날짜별 로그 파일 생성 -->
	<appender name="rollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/Users/user/git/back_end_edu20240624_web_20240924/13_answerboard_springMVC/src/main/resources/log/log.log" />
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m:%d{yyyy MMM dd HH:mm:ss, SSS}%n" />
		</layout>
	</appender>
	
	
	<!-- Application Loggers -->
	<logger name="com.hk.board">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>	
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
