<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>HOME</h1>
<th:block th:if="${session.mdto==null}">
	<p>
		<a href="/user/login">SignIn</a>
		<a href="/user/addUser">SignUp</a>
	</p>
</th:block>
<th:block th:unless="${session.mdto==null}">
	<p>
		<span th:text="${session.mdto.role}"></span>
		<span th:text="${session.mdto.id}"></span>
		<a href="/user/logout">로그아웃</a>
	</p>
</th:block>
	<p><a href="/board/boardList">게시판</a></p>
</div>
</div>
</body>
</html>







