<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 글 수정하기 폼</title>
</head>
<body>
<h1>글 수정하기</h1>
<form action="/thboard/boardupdate" method="post">
	<input type="hidden" name="seq" th:value="${dto.seq}"/>
	<table border="1">
		<tr>
			<th>작성자(ID)</th>
			<td th:text="${dto.id}"></td>
		</tr>
		<tr>
			<th>글제목</th>
			<td><input type="text" name="title" required="required"
								   th:value="${dto.title}"/></td>
						
		</tr>
		<tr>
			<th>글내용</th>
			<td><textarea rows="10" cols="60" name="content"
				th:text="${dto.content}" required="required"></textarea></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="수정완료" />
				<input type="button" value="글목록"
				 onclick="location.href='/thboard/boardlist'" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>







