<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
// click(), change().... 
// on(), bind().... 이벤트 핸들러 함수
	$(function(){
		// on("eventType",funciton(){})
		$("input[name=id]").on("keyup",function(){
			var id=$(this).val();// id입력박스에 입력한 id값가져오기 value-> val()
// 			console.log(id);
			$.ajax({
				url:"/user/idChk",
				method:"get",
				dataType:"json",
				async:false,
				data:{"id":id},
				success:function(data){
					if(data.id!=null){ // 사용할 수 없는 id
// 						console.log("사용못함");
						$("#idChk").attr("class","n")
								   .css("color","red")
						           .text("사용할 수 없는 아이디입니다.");
					
					}else{ //사용할 수 있는 id
// 						console.log("사용함");
						$("#idChk").attr("class","y")
									.css("color","red")
								   .text("사용 가능한 아이디입니다.");
					}
				},
				error:function(e){
					alert("통신오류:"+e);
				}
			});
		});
	});
	
	//중복된 아이디로 submit할 경우 처리
	function submitChk(){
		var classValue=$("#idChk").attr("class");
		if(classValue=="n"){
			alert("아이디를 확인하세요");
			return false;
		}
		return true;
	}
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>회원 가입</h1>
	<form onsubmit="return submitChk()" action="/user/addUser" method="post" th:object="${addUserCommand}">
		<table class="table">
			<tr>
				<th>아이디:</th>
				<td><input th:field="*{id}" type="text" 
				              class="form-control" name="id" />
				    <span id="idChk" class="n"></span>          
					<span th:if="${#fields.hasErrors('id')}" 
					      th:errors="*{id}" class="errorField"></span>
				</td>
			</tr>
			<tr>
				<th>이름:</th>
				<td><input th:field="*{name}" type="text" 
				              class="form-control" name="name" />
					<span th:if="${#fields.hasErrors('name')}" 
					      th:errors="*{name}" class="errorField"></span>
				</td>
			</tr>
			<tr>
				<th>비밀번호:</th>
				<td><input th:field="*{password}" type="password" 
				              class="form-control" name="password" />
					<span th:if="${#fields.hasErrors('password')}" 
					      th:errors="*{password}" class="errorField"></span>
				</td>
			</tr>
			<tr>
				<th>이메일:</th>
				<td><input th:field="*{email}" type="email" 
				              class="form-control" name="email" />
					<span th:if="${#fields.hasErrors('email')}" 
					      th:errors="*{email}" class="errorField"></span>
				</td>
			</tr>
			<tr>
				<th>주소:</th>
				<td><input th:field="*{address}" type="text" 
				              class="form-control" name="address" />
					<span th:if="${#fields.hasErrors('address')}" 
					      th:errors="*{address}" class="errorField"></span>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="가입" class="btn"/>
				</td>
			</tr>
		</table>
	</form>
	</div>
</div>
</body>
</html>











