<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>LOGIN</h1>
<form action="/user/login" method="post" th:object="${loginCommand}">
	<table class="table">
		<tr>
			<th>아이디:</th>
			<td>
				<input type="text" class="form-control"
				      name="id" th:field="*{id}" />
				<span th:if="${#fields.hasErrors('id')}"
				      th:errors="*{id}" class="errorField"></span>          
			</td>
		</tr>
		<tr>
			<th>패스워드:</th>
			<td>
				<input type="password" class="form-control"
				      name="password" th:field="*{password}" />
				<span th:if="${#fields.hasErrors('password')}"
				      th:errors="*{password}" class="errorField"></span>      
			</td>
		</tr>
		<tr>
			<td colspan="2">
				  <input type="submit" value="로그인" class="btn"/>
				  <span th:text="${msg}"></span> 
			</td>
		</tr>
	</table>
</form>
</div>
</div>
</body>
</html>





