@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
}

#navbar{
	background-color: darkblue;
	height: 60px;
}

.navbar ul{
	width:800px ;
	margin-left:100px;
}

.navbar li{
	display: inline-block ;
	margin-top:15px;
	font-size: 20px;
	color:white;
	margin-left:15px;
}

.navbar a{
	color:white;
	text-decoration: none;
}

.footer{
	position: absolute;
	left:0px;
	right:0px;
	bottom:0px;
	text-align: center;
	color:white;
	background-color: darkblue;
	line-height: 50px;
	height: 50px;
}

form{
	width:800px;
	margin:5% auto;
	background-color: honeydew;
	padding: 20px;
}

input{
	border:1px solid rgb(192,192,192);
	width: 780px;
	height: 40px;
	border-radius: 5px;
	padding-left: 10px ;
}

input,button{
	margin:4px;
}

button{
	border: 1px solid cornflowerblue;
	background-color:black;
	border-radius:5px;
	width:300px;
	height: 40px;
	color:darkorchid;
	font-weight: bold;	
	margin-left:60px;
}

form > a{
	text-decoration: none;
}







