<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" >
	<div id="container">
		<h1>일정관리[달력보기]</h1>
		<div class="cal">
			<div id="ctitle">
				<a th:href="@{/schedule/calendar(year=${calMap.year-1},month=${calMap.month})}">◁</a>
				<a th:href="@{/schedule/calendar(year=${calMap.year},month=${calMap.month-1})}">◀</a>
				<span th:text="${calMap.year}"></span>
				<span>년</span>
				<span th:text="${calMap.month}"></span>
				<span>월</span>
				<a th:href="@{/schedule/calendar(year=${calMap.year},month=${calMap.month+1})}">▶</a>
				<a th:href="@{/schedule/calendar(year=${calMap.year+1},month=${calMap.month})}">▷</a>
			</div>
			<div id="thead">
				<div>일</div><div>월</div><div>화</div><div>수</div>
				<div>목</div><div>금</div><div>토</div>
			</div>
			<div id="tbody">
				<th:block th:if="${calMap.dayOfWeek>1}">
					<div th:each="num:${#numbers.sequence(1,calMap.dayOfWeek-1)}">&nbsp;</div>
				</th:block>
				<th:block th:each="i:${#numbers.sequence(1,calMap.lastDay)}">
					<div>
						<a th:text="${i}"
						   th:href="@{/schedule/calboardlist(year=${calMap.year},month=${calMap.month},date=${i})}"></a>
						<a th:href="@{/schedule/addcalboardform(year=${calMap.year},month=${calMap.month},date=${i})}">
							<img class="pen" th:src="@{/img/pen.png}" />
						</a>
						[(${@util.getCalViewList(i,clist)})]
					</div>
				</th:block>
			</div>
		</div>
	</div>
</div>
</body>
</html>




