<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" >
	<div id="container">
		<h1>일정관리[달력보기]</h1>
		<div class="cal">
			<div id="ctitle">
				<span>2024</span>
				<span>년</span>
				<span>10</span>
				<span>월</span>
			</div>
			<div id="thead">
				<div>일</div><div>월</div><div>화</div><div>수</div>
				<div>목</div><div>금</div><div>토</div>
			</div>
			<div id="tbody">
				<div>1</div>
				<div>2</div>
				<div>3</div>
				<div>4</div>
				<div>5</div>
				<div>6</div>
				<div>7</div>
				<div>8</div>
				<div>9</div>
				<div>10</div>
				<div>11</div>
				<div>12</div>
				<div>13</div>
				<div>14</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>




