<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>게시판</h1>
<table border="1">
	<tr>
		<th>번호</th>
		<th>작성자</th>
		<th>제목</th>
		<th>작성일</th>
	</tr>
	<tr th:each="dto:${list}">
		<td th:text="${dto.seq}">번호</td>
		<td th:text="${dto.id}">작성자</td>
		<td><a th:href="@{|/api/board/boarddetail/${dto.seq}|}" th:text="${dto.title}"></a></td>
		<td th:text="${dto.regdate}">작성일</td>
	</tr>
</table>
</body>
</html>