<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="js/boardlist.js"></script>
<script type="text/javascript" src="js/insertBoardForm.js"></script>
<script type="text/javascript" src="js/insertBoard.js"></script>
<script type="text/javascript">
// 	function allSel(bool){
// 		var chks=document.getElementsByName("seq");// [seq,seq,seq,seq..]
// 		for (var i = 0; i < chks.length; i++) {
// 			chks[i].checked=bool;//각각의 체크박스에 체크여부를 true/false로 적용
// 		}
// 	}
	
// 	function isCheck(){
// 		if(confirm("정말 삭제 하시겠습니까?")){
// 			return true;
// 		}
// 		return false;
// 	}
	
	//onload 기능: 페이지가 로딩되면 실행
	$(function(){
		getBoardList();//페이지실행되자마자 바로 글목록 보여주기 실행
	});
	
	
// 	//글추가하기

	//글 상세조회
	function detail(seq){
		$.ajax({
			url:'http://localhost:8085/api/board/detail/'+seq, 
			method:'get', //조회:get
			async:false,
			dataType:'json',
			success:function(data){
				console.log(data.dto);
				var dto=data.dto;  // server:map{"dto":dto} --> front:data.dto
				                   // json변환:  {"dto":{seq:4,id:"hk",title:"제목"..}}
				var detailForm=$(
						'<h1>상세보기</h1>'
						+'	<table class="table">'
						+'		<tr>'
						+'			<th>작성자(ID)</th>'
						+'			<td>'+dto.id+'</td>'
						+'		</tr>'
						+'		<tr>'
						+'			<th>글제목</th>'
						+'			<td>'+dto.title+'</td>'
						+'		</tr>'
						+'		<tr>'
						+'			<th>글내용</th>'
						+'			<td><textarea rows="10" cols="60" name="content" readonly="readonly">'+dto.content+'</textarea></td>'
						+'		</tr>'
						+'		<tr>'
						+'			<td colspan="2">'
						+'				<input type="button" value="수정" onclick="updateBoardForm('+dto.seq+')" />'
						+'				<input type="button" value="삭제" onclick="delBoardForm('+dto.seq+')" />'
						+'				<input type="button" value="글목록"'       
						+'						onclick="getBoardList()" />'
						+'			</td>'
						+'		</tr>'
						+'	</table>'
				);//detailForm생성 종료
				
				//상세내용 화면에 출력
				$("#boardlist").html(detailForm);
			}//success 종료
		});//ajax종료
	}
	//글 수정폼이동
	function updateBoardForm(seq){
		$.ajax({
			url:'http://localhost:8085/api/board/updateform/'+seq,
			method:'get',
			async:false,
			dataType:'json',
			success:function(data){
				var dto=data.dto;
				var updateForm=$(
					'<h1>수정하기</h1>'
					+'<form id="updateForm">'
					+'  <input type="hidden" name="seq" value="'+dto.seq+'"/>'
					+'	<table class="table">'
					+'		<tr>'
					+'			<th>작성자(ID)</th>'
					+'			<td>'+dto.id+'</td>'
					+'		</tr>'
					+'		<tr>'
					+'			<th>글제목</th>'
					+'			<td><input type="text" name="title" value="'+dto.title+'" /></td>'
					+'		</tr>'
					+'		<tr>'
					+'			<th>글내용</th>'
					+'			<td><textarea rows="10" cols="60" name="content">'+dto.content+'</textarea></td>'
					+'		</tr>'
					+'		<tr>'
					+'			<td colspan="2">'
					+'				<input type="button" value="수정완료" onclick="updateBoard()" />'
					+'				<input type="button" value="글목록"'       
					+'						onclick="getBoardList()" />'
					+'			</td>'
					+'		</tr>'
					+'	</table>'	
					+'</form>'
				);//updateForm종료
				$("#boardlist").html(updateForm);
			}//success종료
		});//ajax종료
	}
	//글 수정하기 
	function updateBoard(){
		$.ajax({
			url:'http://localhost:8085/api/board/update',
			method:'put',
			async:false,
			data:$("#updateForm").serialize(), //json형태의 문자열을 반환
			dataType:'json',
			success:function(data){
				if(data.count==0){
					alert('수정실패');
				}else{
					alert('수정성공');
					//상세내용조회 페이지로 이동
					detail($("#updateForm input[name=seq]").val());
				}
			}
		});
	}
	//글 삭제하기
	function delBoardForm(chk){
		if(confirm("삭제하시겠습니까?")){
			$.ajax({
				url:'http://localhost:8085/api/board/muldel',
				method:'delete',
				async:false,
				data:{'chk':chk}, // chk=5 , {chk:5}
				dataType:'json',
				success:function(data){
					if(data.count==0){
						alert("삭제실패");
					}else{
						alert("삭제성공");
						getBoardList();
					}
				}
			});//ajax종료
		}
	}
	
	//글 여러개 삭제
	function mulDel(){
		if(confirm("삭제하시겠습니까?")){
			$.ajax({
				url:'http://localhost:8085/api/board/muldel',
				method:'delete',
				async:false,
				data:$("#muldel").serialize(),
				dataType:'json',
				success:function(data){
					if(data.count==0){
						alert("삭제실패");
					}else{
						alert("삭제성공");
						getBoardList();
					}
				}
			});//ajax종료
		}
	}
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		<div id="boardlist"></div>
	</div>
</div>
</body>
</html>






