<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
// 	function allSel(bool){
// 		var chks=document.getElementsByName("seq");// [seq,seq,seq,seq..]
// 		for (var i = 0; i < chks.length; i++) {
// 			chks[i].checked=bool;//각각의 체크박스에 체크여부를 true/false로 적용
// 		}
// 	}
	
// 	function isCheck(){
// 		if(confirm("정말 삭제 하시겠습니까?")){
// 			return true;
// 		}
// 		return false;
// 	}
	
	//onload 기능: 페이지가 로딩되면 실행
	$(function(){
		getBoardList();//페이지실행되자마자 바로 글목록 보여주기 실행
	});
	
	//글목록 조회
	function getBoardList(){
		$.ajax({
			url:'http://localhost:8085/api/board/boardlist',
			method:'get',
			async:false,
			dataType:'json',
			success:function(data){// data는 서버로부터 전달받은 값
				var list=data['list'];//글목록 저장된 객체 받기
// 				alert('길이값:'+list.length);
				
				// $("<table></table>") : 태그생성하는 방법
				var table=$(
						'<h2>글목록</h2>'
						+'<form id="muldel">'
						+'<table border="1" class="table">'
						+'	<col width="50px" />'
						+'	<col width="50px" />'
						+'	<col width="100px" />'
						+'	<col width="300px" />'
						+'	<col width="200px" />'
						+'	<thead>'
						+'	<tr>'
						+'		<th><input  type="checkbox" name="all" onclick="allSel(this.checked)"> </th>'
						+'		<th>seq</th><th>작성자</th><th>제목</th><th>작성일</th>'
						+'	</tr>'
						+'	</thead>'
						+'	<tbody></tbody>'
						+'	<tfoot>'
						+'	<tr>'
						+'		<td colspan="5">'
						+'			<button type="button" onclick="insertBoardForm()">글추가</button>	'
						+'			<input type="button" value="삭제" onclick="mulDel()"/>	'
						+'		</td>'
						+'	</tr>'
						+'	</tfoot>'
						+'</table>'
						+'</form>');	
				
				//list를 구했고, list를 타켓으로 반복문 실행해서 데이터를 table에 추가
				//table 객체가 준비되어 있음
				$.each(list,function(i,dto){ // i는 인덱스 증가, dto는 list의 값저장
					//tr객체 생성
					var tr=$("<tr></tr>")
					       .append($('<td><input type="checkbox" name="chk" value="'+dto.seq+'"/></td>'))
					       .append($('<td></td>').text(i+1)) //차례대로 번호 부여
					       .append($('<td></td>').text(dto.id)) //아이디
					       .append($('<td></td>')
					    		.html($('<a style="cursor:pointer;" onclick="detail('+dto.seq+')"></a>')
					    				.text(dto.title)))    
						   .append($("<td></td>").text(dto.regdate)); //작성일	
					
				    //생성된 tr객체를 tbody에 추가한다.
				    table.find('tbody').append(tr);
				});
				
				
				$("#boardlist").html(table); // <div id="boardlist"><table></table></div>
			
			},
			error:function(){
				alert("통신실패");
			}
		});
	}
	//글추가 폼 이동
	function insertBoardForm(){
		var insertForm=$(
				'<h1>새글 작성하기</h1>'
				+'<form id="insertForm">'
				+'	<table class="table">'
				+'		<tr>'
				+'			<th>작성자(ID)</th>'
				+'			<td><input type="text" name="id" required="required" /></td>'
				+'		</tr>'
				+'		<tr>'
				+'			<th>글제목</th>'
				+'			<td><input type="text" name="title" required="required" /></td>'
				+'		</tr>'
				+'		<tr>'
				+'			<th>글내용</th>'
				+'			<td><textarea rows="10" cols="60" name="content" required="required"></textarea></td>'
				+'		</tr>'
				+'		<tr>'
				+'			<td colspan="2">'
				+'				<input type="button" value="등록" onclick="insertBoard()" />'
				+'				<input type="button" value="글목록"'
				+'						onclick="getBoardList()" />'
				+'			</td>'
				+'		</tr>'
				+'	</table>'
				+'</form>	'	
		);
		
		//body에 글추가폼 보여주기
		$("#boardlist").html(insertForm);
		
	}
	//글추가하기
	function insertBoard(){
		$.ajax({
			url:'http://localhost:8085/api/board/insert',
			method:'post',
			async:false,
			data:$("#insertForm").serialize(), //form안에 입력요소들을 json형식으로 구해준다.
			     // {id:"hk",tilte:"제목"..}
		    dataType:'json',
		    success:function(data){
		    	if(data.count==0){
		    		alert("글추가실패");
		    	}else{
		    		alert("글추가함");
		    		getBoardList();
		    	}
		    }
		});
	}
	//글 상세조회
	function detail(seq){
		$.ajax({
			url:'http://localhost:8085/api/board/detail/'+seq, 
			method:'get', //조회:get
			async:false,
			dataType:'json',
			success:function(data){
				console.log(data.dto);
				var dto=data.dto;  // server:map{"dto":dto} --> front:data.dto
				                   // json변환:  {"dto":{seq:4,id:"hk",title:"제목"..}}
				var detailForm=$(
						'<h1>상세보기</h1>'
						+'	<table class="table">'
						+'		<tr>'
						+'			<th>작성자(ID)</th>'
						+'			<td>'+dto.id+'</td>'
						+'		</tr>'
						+'		<tr>'
						+'			<th>글제목</th>'
						+'			<td>'+dto.title+'</td>'
						+'		</tr>'
						+'		<tr>'
						+'			<th>글내용</th>'
						+'			<td><textarea rows="10" cols="60" name="content" readonly="readonly">'+dto.content+'</textarea></td>'
						+'		</tr>'
						+'		<tr>'
						+'			<td colspan="2">'
						+'				<input type="button" value="수정" onclick="updateBoardForm('+dto.seq+')" />'
						+'				<input type="button" value="삭제" onclick="delBoardForm('+dto.seq+')" />'
						+'				<input type="button" value="글목록"'       
						+'						onclick="getBoardList()" />'
						+'			</td>'
						+'		</tr>'
						+'	</table>'
				);//detailForm생성 종료
				
				//상세내용 화면에 출력
				$("#boardlist").html(detailForm);
			}//success 종료
		});//ajax종료
	}
	//글 수정폼이동
	function updateBoardForm(seq){
		$.ajax({
			url:'http://localhost:8085/api/board/updateform/'+seq,
			method:'get',
			async:false,
			dataType:'json',
			success:function(data){
				var dto=data.dto;
				var updateForm=$(
					'<h1>수정하기</h1>'
					+'<form id="updateForm">'
					+'  <input type="hidden" name="seq" value="'+dto.seq+'"/>'
					+'	<table class="table">'
					+'		<tr>'
					+'			<th>작성자(ID)</th>'
					+'			<td>'+dto.id+'</td>'
					+'		</tr>'
					+'		<tr>'
					+'			<th>글제목</th>'
					+'			<td><input type="text" name="title" value="'+dto.title+'" /></td>'
					+'		</tr>'
					+'		<tr>'
					+'			<th>글내용</th>'
					+'			<td><textarea rows="10" cols="60" name="content">'+dto.content+'</textarea></td>'
					+'		</tr>'
					+'		<tr>'
					+'			<td colspan="2">'
					+'				<input type="button" value="수정완료" onclick="updateBoard()" />'
					+'				<input type="button" value="글목록"'       
					+'						onclick="getBoardList()" />'
					+'			</td>'
					+'		</tr>'
					+'	</table>'	
					+'</form>'
				);//updateForm종료
				$("#boardlist").html(updateForm);
			}//success종료
		});//ajax종료
	}
	//글 수정하기 
	function updateBoard(){
		$.ajax({
			url:'http://localhost:8085/api/board/update',
			method:'put',
			async:false,
			data:$("#updateForm").serialize(), //json형태의 문자열을 반환
			dataType:'json',
			success:function(data){
				if(data.count==0){
					alert('수정실패');
				}else{
					alert('수정성공');
					//상세내용조회 페이지로 이동
					detail($("#updateForm input[name=seq]").val());
				}
			}
		});
	}
	//글 삭제하기
	function delBoardForm(chk){
		if(confirm("삭제하시겠습니까?")){
			$.ajax({
				url:'http://localhost:8085/api/board/muldel',
				method:'delete',
				async:false,
				data:{'chk':chk}, // chk=5 , {chk:5}
				dataType:'json',
				success:function(data){
					if(data.count==0){
						alert("삭제실패");
					}else{
						alert("삭제성공");
						getBoardList();
					}
				}
			});//ajax종료
		}
	}
	
	//글 여러개 삭제
	function mulDel(){
		if(confirm("삭제하시겠습니까?")){
			$.ajax({
				url:'http://localhost:8085/api/board/muldel',
				method:'delete',
				async:false,
				data:$("#muldel").serialize(),
				dataType:'json',
				success:function(data){
					if(data.count==0){
						alert("삭제실패");
					}else{
						alert("삭제성공");
						getBoardList();
					}
				}
			});//ajax종료
		}
	}
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		<div id="boardlist"></div>
	</div>
</div>
</body>
</html>






