<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.file">
				
	<insert id="insertfile" parameterType="FileDto">
		INSERT INTO fileboard 
		VALUES(NULL,#{origin_name},#{stored_name},#{file_size},
		SYSDATE())
	</insert>
	
	<select id="getfilelist" parameterType="Map" resultType="FileDto">
		SELECT SEQ, ORIGIN_NAME, STORED_NAME, FILE_SIZE,F_REGDATE
		FROM FILEBOARD
		<where>
			<if test="seq!=null">
			     SEQ = #{seq}
			</if>
		</where>
		ORDER BY f_regdate DESC 
	</select>
	
	
</mapper>






